# Lists

In [1]:
myList = [1,2,3,4]

print(myList)

[1, 2, 3, 4]

In [11]:
myList = []

print(myList)

myList.append(1)
myList.append(2)
myList.append(3)
myList.append(2)

print(myList)

[]
[1, 2, 3, 2]

In [12]:
print(myList.index(2))

1

In [13]:
myList.remove(2)
print(myList)

[1, 3, 2]

# Tuples -> Immutable

In [21]:
# How to create tuples...2 ways

t1 = (1, 2)

t2 = 3, 4

In [22]:
print(t1)

(1, 2)

In [23]:
print(t2)

(3, 4)

In [25]:
# Useful methods for tuples

# Index...

t1 = (1, 2, 2, 2, 2, 1, 3)

print(t1.index(1))

print(t1.index(3))

0
6

In [26]:
# Count

t1 = (1, 2, 2, 2, 2, 1, 3)

print(t1.count(1))

print(t1.count(2))

print(t1.count(3))

2
4
1

In [28]:
# to insert data into a Tuple, you need to convert it into a list, then back to a Tuple

t1 = (1, 2, 2, 2, 2, 1, 3)

print(t1)

L1 = list(t1)

L1.insert(3, 'ins')

t1 = tuple(L1)

print(t1)

(1, 2, 2, 2, 2, 1, 3)
(1, 2, 2, 'ins', 2, 2, 1, 3)

# Dictionary

In [29]:
d = {'key': 'value'}

In [39]:
print(d.keys())

print(d.values())

d = {'firstNum': 5, 'secondNum': 2}

print(d.keys())

print(d.values())

Total = d['firstNum'] + d['secondNum']

print("The Total is " + str(Total))

dict_keys(['firstNum', 'secondNum'])
dict_values([5, 2])
dict_keys(['firstNum', 'secondNum'])
dict_values([5, 2])
The Total is 7

In [40]:
total = d.get('firstNum') + d.get('secondNum')
print(total)

7

In [46]:
d.update({'item3': 3})

In [47]:
print(d)

{'firstNum': 5, 'secondNum': 2, 'item3': 3}

In [48]:
d.pop('item3')

3

In [49]:
print(d)

{'firstNum': 5, 'secondNum': 2}

In [51]:
# Converting dictionary object to list object

v = list(d.values()) 

k = list(d.keys())

print(v[0])

print(k[0])

5
firstNum

In [52]:
# Sorting, since list is an easy object to sort, you can convert to tuple 

#  creating tuple
t1 = (1, 2, 2, 2, 2, 1, 3)  

#  convert to list
L1 = list(t1)

print(L1) 


#  sort
sL = L1.sort()

print(">>>", sL)

[1, 2, 2, 2, 2, 1, 3]
>>> None

In [53]:
print(L1)

[1, 1, 2, 2, 2, 2, 3]

In [54]:
t1 = tuple(L1)

print(t1)

(1, 1, 2, 2, 2, 2, 3)

# More Lesson Stuff

In [55]:
for x in "string":
    print(x)

s
t
r
i
n
g

In [56]:
for letter in ['p', 'y', 't', 'h', 'o', 'n']:
    print(letter)

p
y
t
h
o
n

# Mixed Data Types

In [58]:
for whatever in ['hi', 3, 2.5, True]:
    print(whatever, type(whatever))

hi <class 'str'>
3 <class 'int'>
2.5 <class 'float'>
True <class 'bool'>

In [59]:
myList = ['hi', 3, 2.5, True]

for whatever in myList:
    print(whatever, type(whatever))

hi <class 'str'>
3 <class 'int'>
2.5 <class 'float'>
True <class 'bool'>

In [60]:
type(myList)

list

# Creating and Accessing a List

In [69]:
cart = []

print(cart)

[]

In [70]:
cart.append(1342)
cart.append(254)

print(cart)

[1342, 254]

In [72]:
myList = [5, 'bird', 2.3, False]
print(myList)

[5, 'bird', 2.3, False]

In [77]:
for x in myList:
    print(x)

5
bird
2.3
False

## List modules:

1. append
2. clear
3. copy
4. count
5. index
6. insert
7. pop
8. remove
9. reverse
10. sort

Selecting a porting from a list

In [78]:
d1 = [-4, 10, 20, 30, 40, 50, 60]

In [79]:
d1[2:5]

[20, 30, 40]

In [80]:
d1[:5]

[-4, 10, 20, 30, 40]

In [82]:
d1[2:2]

[]

In [84]:
Program:myList = [3,5,7,9,12]
for n in myList:
    print(n)

5
bird
2.3
False

In [85]:
myList = [3,5,7,9,12]
for n in myList:
    print(n)

3
5
7
9
12

# Using Built-in List Functions

In [90]:
# Append

aList = []

aList.append(55)

aList

[55]

In [91]:
aList.append('dog')

aList

[55, 'dog']

In [92]:
# Copy

aNewList = aList.copy()

aNewList

[55, 'dog']

In [93]:
# Insert

aList.insert(1, 'an inserted string')

aList

[55, 'an inserted string', 'dog']

In [96]:
listA = [8,9]

In [97]:
aList.extend(listA)
aList

[55, 'an inserted string', 'dog', 8, 9]

In [99]:
listB = [111, 222, 333, 444, 555]

In [100]:
aList.extend(listB[2:5])

aList

[55, 'an inserted string', 'dog', 8, 9, 333, 444, 555]

In [102]:
aList.insert(0, 'cat')

aList

['cat', 55, 'an inserted string', 'dog', 8, 9, 333, 444, 555]

In [103]:
aList.pop()

555

In [104]:
aList

['cat', 55, 'an inserted string', 'dog', 8, 9, 333, 444]

In [105]:
# remove

listC = [2, 4, 6, 7, 7, 8]

In [106]:
listC.remove(4)

In [107]:
listC

[2, 6, 7, 7, 8]

In [108]:
aList.clear()
aList

[]

# Searching Lists

In [109]:
listD = ['Bob', 'Monique', 'Sam', 'Selena', 'Bob']

In [110]:
listD.count('Monique')

1

In [111]:
listD.count('Bob')

2

# Sorting Lists

In [113]:
print("OUTPUT")

listD = ['Bob', 'Monique', 'Sam', 'Selena', 'Bob']

for n in listD:
    print(n, end=" ")
    print()

listD.sort()

for n in listD:
    print(n, end= " ")
    print()

OUTPUT
Bob
Monique
Sam
Selena
Bob
Bob
Bob
Monique
Sam
Selena

# Collections

## Tuples

In [114]:
listA = [1,2,3,4]
type(listA)

list

In [115]:
mytuple = (5,7,9)
type(mytuple)

tuple

In [123]:
# working with Tuples

tupleA = (1, 2, 3)
tupleB = (5, 9)

In [124]:
tupleA = tupleA + tupleB

In [125]:
tupleA

(1, 2, 3, 5, 9)

In [126]:
# Index

tupleC = (2, 7, 3, 7, 10)

In [127]:
tupleC.index(3)

2

In [128]:
tupleC.index(7)

1

In [129]:
tupleC.index(7,2)

3

In [130]:
# Counting Occurrences

tupleC.count(2)

1

In [131]:
tupleC.count(7)

2

In [132]:
# Emedding tuples within tuples

# Dictionaries

In [134]:
# Creating Dictionary

myDict = {'Sam': 67}

type(myDict)

dict

In [135]:
myDict = {'Sam': 67, 'Jenny': 62, 'Manuelo': 72, 'Hannah': 59}
type(myDict)

dict

In [137]:
myDict.keys()

dict_keys(['Sam', 'Jenny', 'Manuelo', 'Hannah'])

In [138]:
print(myDict.keys())

dict_keys(['Sam', 'Jenny', 'Manuelo', 'Hannah'])

In [139]:
myDict['Sam']

67

In [140]:
for item in myDict.keys():
    print(item, myDict[item])

Sam 67
Jenny 62
Manuelo 72
Hannah 59

In [144]:
myDict.update({'Sue': 65})

myDict

{'Sam': 67, 'Jenny': 62, 'Manuelo': 72, 'Hannah': 59, 'Sue': 65}

In [145]:
myDict.pop('Sam')

67

In [147]:
myDict

{'Jenny': 62, 'Manuelo': 72, 'Hannah': 59, 'Sue': 65}

In [148]:
myDict.update({'Jenny':63})
myDict

{'Jenny': 63, 'Manuelo': 72, 'Hannah': 59, 'Sue': 65}

# Tips for Formatting your Dictionary Statement

In [150]:
# Write dictionary in multiple lines!

myDict = {
    0: 'Red',
    1: 'Yellow',
    2: 'Red',
    3: 'Blue',
    4: 'Pink',
}

In [152]:
myDict

{0: 'Red', 1: 'Yellow', 2: 'Red', 3: 'Blue', 4: 'Pink'}

# List made of Lists

In [154]:
test1 = [30, 40, 34, 52]
test2 = [61, 21, 70, 75]
test3 = [79, 85, 100, 97]

gradebook = [test1, test2, test3]
print("The grades for each test as a list")

for testGrades in gradebook:
    print(testGrades)

print()

print("Now print one grade at a time.")
print()

for i in range(3):
    for j in range(4):
        print("Test ", i, "Student", j, "Grade", gradebook[i][j])

The grades for each test as a list
[30, 40, 34, 52]
[61, 21, 70, 75]
[79, 85, 100, 97]

Now print one grade at a time.

Test  0 Student 0 Grade 30
Test  0 Student 1 Grade 40
Test  0 Student 2 Grade 34
Test  0 Student 3 Grade 52
Test  1 Student 0 Grade 61
Test  1 Student 1 Grade 21
Test  1 Student 2 Grade 70
Test  1 Student 3 Grade 75
Test  2 Student 0 Grade 79
Test  2 Student 1 Grade 85
Test  2 Student 2 Grade 100
Test  2 Student 3 Grade 97