In [1]:
# List with all the data types

myListA = ['a', True, 'Hello There', 8, 9.101]

print(myListA)

['a', True, 'Hello There', 8, 9.101]

In [3]:
# List with a List inside

myListB = ['following this, a list', ['a','b','c']]

print(myListB)

['following this, a list', ['a', 'b', 'c']]

In [14]:
# Now lets manipulate the data

listA = [2, 5, 3, 4, 1]

print(listA)

nums_sorted = sorted(listA)

print(listA)               # listA was sorted but does not remain sorted
print(nums_sorted)         # listA sorted data placed in var and we keep the sorted list

[2, 5, 3, 4, 1]
[2, 5, 3, 4, 1]
[1, 2, 3, 4, 5]

In [28]:
# Add and Delete

listB = ['b', 'b', 'b']

print(listB)

listB.append('c')  # add to the end

print(listB)

listB.insert(0, 'a')  # insert data at position '0'

print(listB)

listB.remove('b')

print(listB)  # deletes first 'b'

['b', 'b', 'b']
['b', 'b', 'b', 'c']
['a', 'b', 'b', 'b', 'c']
['a', 'b', 'b', 'c']

In [31]:
# Lets make a tupld of a character in a game ... note the dictionary inside!!

characterA = ('John', 'blue eyes', 'blond hair', '69 inches', {'class': 'warrio'})

print(type(characterA))
print(characterA)

<class 'tuple'>
('John', 'blue eyes', 'blond hair', '69 inches', {'class': 'warrio'})

In [37]:
# Sorting Tuple information
phoneNumsTups = ('253-555-1111',
                 '907-555-1111',
                 '927-555-1111',
                 '605-555-1111',
                 '101-555-1111', )

print(sorted(phoneNumsTups))

['101-555-1111', '253-555-1111', '605-555-1111', '907-555-1111', '927-555-1111']

In [39]:
characterB = {'name': 'Roberto', 
              'hair': 'blue', 
              'eyes': 'grey', 
              'class': 'rogue', 
              'awards': 'none'}
print(type(characterB))
print(characterB)

<class 'dict'>
{'name': 'Roberto', 'hair': 'blue', 'eyes': 'grey', 'class': 'rogue', 'awards': 'none'}

In [43]:
characterB['awards'] = 'Rotten Rapscallion'

print(characterB['name'] + ", you have been awarded the achievement of " + characterB['awards'] )

Roberto, you have been awarded the achievement of Rotten Rapscallion

In [51]:
crazyDeepList = ['firstList', ['secondList', ['thirdList', ['fourthList', ['fifthList', 'hike', 'treasure']]]]]

# now to get the treasure...

print(crazyDeepList[1][1][1][1][2])

treasure